<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Almofire.framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>youngjaS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6A3CEABB1E8CCB47009BE366</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A3CEAC31E8CCB48009BE366</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AF81B111E80F51600DE9EA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AF81B251E80F51600DE9EA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AF81B301E80F51600DE9EA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
